.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%, 49% {
    color: #ff7300; 
  }
  50%, 100% {
    color: #0000FF; 
  }
}

.animate-blink {
  animation: blink 1s infinite; 
}

@keyframes anotherBlink {
  0%, 49% {
    color: #5ab648; 
  }
  50%, 100% {
    color: rgb(98, 24, 23); 
  }
}

.animate-text {
  animation: anotherBlink 1s infinite;
}
